    {block content}
    <h1 n:block=title class="mb-4">{_teams.title}</h1>
    <h2 class="mb-3">{_teams.titleNew}</h2>

    {control teamAdd}
    
    <h2 class="mb-3">{_teams.titleList}</h2>

    <table class="table table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">{_teams.id}</th>
                <th scope="col">{_teams.name}</th>
                <th scope="col">{_teams.members}</th>
                <th scope="col">#</th>
            </tr>
        </thead>
      <tbody>
        {foreach $teams as $team}
            <tr>
              <th scope="row">{$team->getId()}</th>
              <td>{$team->getTeamName()}</td>
              <td>{$filterMemberships($team->getMemberships())|noescape}</td>
              <td>
                <a n:href="edit id => $team->getId()">{_editLabel}</a> | <a n:href="delete id => $team->getId()">{_deleteLabel}</a>
              </td>
            </tr>
        {/foreach}
      </tbody>
    </table>