{block content}
    <h1 n:block=title class="mb-4">{_events.title}</h1>

    <div class="container-fluid">
        <ul class="list-group">
            <li class="list-group-item">
               <a n:href="syncCalendar!" class="ajax">{_events.syncAction}</a>
            </li>
            <li class="list-group-item">
                <a n:href="exportCalendar!">{_events.exportAction}</a>
            </li>
        </ul>

        {snippet content}
            <div class="row mt-3">
                {foreach $events as $event}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h4 class="mt-3 mb-2">
                                    {$event->getSummary()}
                                    {$event->getDtstart()|date:'d.m.Y'} - {$event->getDtend()|date:'d.m.Y'}
                                </h4>
                                <a n:if="$user->isLoggedIn()" n:href="share id=> $event->getId()" class="ajax">{_events.shareAction}</a>
                            </div>
                        </div>
                    </div>
                        {if ($iterator->counter > 1 && $iterator->counter % 3 === 0)}
                           </div><div class="row">
                        {/if}
                {/foreach}
            </div>
        {/snippet}
    </div>

    {snippet modal}
        {if $showModal}
            <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="eventModalLabel">{$summary}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    {include "../@form.latte", name: shareForm}
                  </div>
                </div>
              </div>
            </div>

            <script n:syntax="off">
                var myModal = new bootstrap.Modal(document.getElementById('eventModal'));
                myModal.show();
            </script>
        {/if}
    {/snippet}