    {block content}
    <h1 n:block=title class="mb-4">{_teamMembers.title}</h1>
    <h2 class="mb-3">{_teamMembers.titleNew}</h2>

    {control teamMemberAdd}

    <h2 class="mb-3">{_teamMembers.titleList}</h2>

    <table class="table table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">{_teamMembers.id}</th>
                <th scope="col">{_teamMembers.name}</th>
                <th scope="col">{_teamMembers.surname}</th>
                <th scope="col">{_teamMembers.roles}</th>
                <th scope="col">#</th>
            </tr>
        </thead>
      <tbody>
        {foreach $teamMembers as $teamMember}
            <tr>
              <th scope="row">{$teamMember->getId()}</th>
              <td>{$teamMember->getName()}</td>
              <td>{$teamMember->getSurname()}</td>
              <td>{$filterRoles($teamMember->getMemberRoles())}</td>
              <td>
                <a n:href="edit id => $teamMember->getId()">{_editLabel}</a> | <a n:href="delete id => $teamMember->getId()">{_deleteLabel}</a>
              </td>
            </tr>
        {/foreach}
      </tbody>
    </table>